PORT=3000

JWT_SECRET="replace-with-a-long-random-string-at-least-32-chars"
JWT_EXPIRES_IN=3600

INTERNAL_SECRET="replace-internal-service-secret-min-16-chars"

DATABASE_URL_AUTH="postgresql://lab1_user:lab1_pass@localhost:5432/lab2_auth?schema=public"
DATABASE_URL_CATALOG="postgresql://lab1_user:lab1_pass@localhost:5432/lab2_catalog?schema=public"
DATABASE_URL_JOBSEEKER="postgresql://lab1_user:lab1_pass@localhost:5432/lab2_jobseeker?schema=public"
DATABASE_URL_EMPLOYER="postgresql://lab1_user:lab1_pass@localhost:5432/lab2_employer?schema=public"
DATABASE_URL_APPLICATION="postgresql://lab1_user:lab1_pass@localhost:5432/lab2_application?schema=public"

AUTH_SERVICE_URL=http://127.0.0.1:3001
CATALOG_SERVICE_URL=http://127.0.0.1:3002
JOBSEEKER_SERVICE_URL=http://127.0.0.1:3003
EMPLOYER_SERVICE_URL=http://127.0.0.1:3004
APPLICATION_SERVICE_URL=http://127.0.0.1:3005

RABBITMQ_URL=amqp://lab2_mq:lab2_mq_pass@127.0.0.1:5672
